<div class="background" id="background"></div>
<section class="textBox">
  <h1>Welcome <br />Yu-Gi-Oh Enthusiasts</h1>
  <p>I am proud to present you my rendition of a Yu-Gi-Oh! card maker.
    Click Card Maker to start creating cards,
    or Decks to start creating decks!</p>
  <hr />
  <section class="table">
    <!--Card Maker Button-->
    <a href="/CardMaker">
      <div class="header">Cards Maker</div>
      <img src="/assets/card.png" style="width: 200px; padding: 10px; padding-top:30px;" />
    </a>
    <!--Deck Maker Button-->
    <a href="/Decks">
      <div class="header">Deck Maker</div>
      <img src="/assets/deck.png" style="width: 350px;" />
    </a>
  </section>
</section>
