<section>
  <h1>Register</h1>
  <hr>
  <form (ngSubmit)="onSubmit()">
    <input id="text" type="text" [(ngModel)]="registerInfo.username" name="username" placeholder="Username" required />
    <input id="text" type="email" [(ngModel)]="registerInfo.email" name="email" placeholder="Email" required />
    <input id="text" type="password" [(ngModel)]="registerInfo.password" name="password" placeholder="Password" required />
    <p>Already have an account?<br>
      <button (click)="navigateToLogin()" style="width: 20%;">Login Here</button>
    </p>
    <button type="submit">Register</button>
  </form>
</section>
