* {
  all: unset;
}

@font-face {
  font-family: 'Aguero Serif Free';
  src: url('/assets/fonts/Aguero Serif.otf') format('opentype');
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #111;
  border: 1px solid #fff;
  font-family: 'Aguero Serif Free';
  color: white;
  font-size: 30pt;
}

nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

  nav ul {
    display: flex;
    gap: 50px;
  }

  nav a {
    text-decoration: none;
  }

    nav a:hover {
      color: #808080;
      text-decoration: underline;
      cursor: pointer;
    }

button {
  font-weight: 600;
  background: white;
  color: black;
  padding: 5px 9px;
  cursor: pointer;
  border: none;
}

  button:hover {
    background: #808080;
  }
